* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.left-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 16px;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    padding: 64px 32px;
}

.content {
    line-height: 2.7em;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.main-content {
    padding: 32px;
    margin: 0 auto;
}

.image-container {
    display: flex;    
}

.image-container img {
    border: 2px solid gold;
    border-radius: 16px;
}

h2 {
    font-size: 32px;
    text-align: center;
    padding: 16px;
}

.item {
    display: inline-block;
    text-align: center;       
}

.quotes {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quotes-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 50px 100px;
}

.quote-owner {
    margin-left: auto;
    padding-right: 100px;
    padding-bottom: 50px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: blue;
    color: #f9faf8;
}

footer {
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    margin-top: auto;
    text-align: center;
    padding: 32px;
}

